[submodule "3rdparty/Halide"]
	path = 3rdparty/Halide
	url = https://github.com/halide/Halide.git
[submodule "3rdparty/llvm-project"]
	path = 3rdparty/llvm-project
	url = https://github.com/llvm/llvm-project.git
